.hide {
	display: none;
}

p {
	margin-bottom: 0;
}

.container {
	max-width: 100%;
	padding: 0;
	color: #282c32;
	font-family: 'Open Sans', sans-serif;
}

button:hover {
	color: white !important;
}

.container nav {
	background-image: linear-gradient(to bottom right, #FC5989 , #F76E66);
	padding: 0px 40px;
}

nav .white-text {
	color: white !important;
}

.navbar-text {
	font-size: 24px;
	font-weight: 300;
}

.navbar-brand img {
	height: 80px;
}

a {
	cursor: pointer;
}

::-webkit-input-placeholder { /* Edge */
 color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

::placeholder {
	color: white;
}