.wedding-container {
	background-image: linear-gradient(to bottom right, #FC5989 , #F76E66);
	color: white;
	padding: 30px;
}

.wedding-title-cont {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
}

.name-container {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 32px;
}

.groom-photo, .bride-photo {
	width: 160px;
	border-radius: 50%;
	margin-left: 40px;
	margin-right: 40px;
}

.wedding-heart {
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
}

.groom-cont {
	padding-right: 0px;
}

.bride-cont {
	padding-left: 0px;
}

#groom-name, #bride-name {
	width: 240px;
	text-align: center;
}

.wedding-loc-date {
	font-size: 24px;
	text-align: center;
	color: white;
	font-weight: 300;
}

.wedding-loc-date img {
	height: 40px;
}

.wedding-info-container {
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

.wedding-info-container img {
	height: 120px;
}

.wedding-info-container p {
	font-size: 50px;
	font-weight: 300;
	margin-top: -16px;
}

.wedding-guests-container {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 80px;
	margin-bottom: 30px;
	color: #606060;
}

.wedding-guests-container .nav-tabs .active {
	color: #FC5989;
}

.wedding-guests-container .nav-tabs a {
	color: #606060;
	padding: 12px 100px;
}

.wedding-guests-container .nav-tabs {
	font-size: 26px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.guests-table-title {
	margin-top: 50px;
	margin-bottom: 50px;
}

.guests-table-title button {
	background-image: linear-gradient(to bottom right, #FC5989 , #F76E66);
	padding: 4px 20px;
	color: white;
	border-radius: 25px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.guests-table-title button img {
	height: 40px;
}

.guests-table-title button span {
	margin-right: 10px;
    margin-left: 4px;
}

.guest-table {
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #606060 !important;
}

table > thead > tr > th, table > tbody > tr > td {
	border-bottom: 1px solid #303336 !important;
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	font-size: 20px !important;
}

.guest-table .table {
	color: #606060;
}

#update-guest-list-modal .modal-footer i {
	font-size: 15px;
	margin-bottom: 10px;
}

#qrcode {
	padding: 20px;
}

.qrcode-type-description {
	font-size: 20px;
}

.qrcode-type-title {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	color: #FC5989;
}

.qrcode-type {
	margin-bottom: 40px;
}

#qrcode-type1 {
	max-height: 100%
}

.qrcode-copy-clipboard {
	margin-top: 20px;
	background-image: linear-gradient(to bottom right, #FC5989 , #F76E66);
	padding: 4px 20px;
	color: white;
	border-radius: 25px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.qrcode-copy-clipboard img {
	height: 40px;
}

.instructions-qr-header {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FC5989;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.instructions-qr-list {
	margin-top: 20px;
	margin-bottom: 80px;
	font-size: 18px;
}

#update-guest-list-modal .modal-content {
	border-radius: 20px;
	padding: 30px;
}

#update-guest-list-modal .modal-header, 
#update-guest-list-modal .modal-footer {
	color: #FC5989;
	border: none;
}

#update-guest-list-modal .modal-header {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#update-guest-list-modal .modal-footer {
	padding-top: 0px;
}

#update-guest-list-modal .modal-body {
	color: #606060;
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-header img {
	height: 40px;
	vertical-align: middle;
	margin-top: 6px;
}

#update-guest-list-modal .modal-footer button {
	color: white;
	background-image: linear-gradient(to bottom right, #FC5989 , #F76E66);
	border-radius: 25px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
}